@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700);
html,
body {
	width: 595px;
	height: 842px;
}

#languages {
	height: 100px;
}

.icon {
	width: 26px;
	height: 26px;
	margin-right: 5px;
}

.flag {
	width: 100px;
	height: 100px;
}

.fa-long-arrow-right {
	transform: scale(3);
	margin-right: 25px;
}

.arrow>h4 {
	display: inline;
}

.arrow>i {
	transform: scale(2);
	margin-right: 20px;
}

.arrow>img {
	margin-left: 20px;
	margin-top: -2px;
	float: right;
	position: relative;
	left: -500px;
}

.arrow>h4 {
	margin-right: 20px;
}

#arrow1 {
	position: relative;
	top: -98px;
	left: 120px;
}

#arrow2 {
	position: relative;
	top: -88px;
	left: 120px;
}

#arrow3 {
	position: relative;
	top: -78px;
	left: 120px;
}

.cv {
	background: rgba(0, 0, 0, 0);
	/* Old Browsers */
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(28%, rgba(219, 219, 219, 1)), color-stop(51%, rgba(209, 209, 209, 1)), color-stop(100%, rgba(254, 254, 254, 1)));
	/* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 28%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 28%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
	/* W3C */
}

.fa-terminal {
	transform: scale(1.8);
	position: relative;
	margin-right: 20px;
	color: blue;
}

.cv {
	padding: 20px;
	padding-top: 50px;
}

.cv aside {
	margin-bottom: 60px;
}

.cv aside img {
	display: block;
	margin: 0 auto;
}

.cv aside h2,
.cv h1,
.cv h3,
.cv h4 {
	font-family: 'Montserrat', sans-serif;
}

.cv aside h2 {
	text-align: center;
}

.cv aside h2>span {
	color: blue;
}

.cv aside h2:after {
	display: block;
	content:'{';
	color: blue;
	transform: rotate(-90deg) scale(1.6, 2);
	transform-origin: center;
	font-size: 60px;
	font-weight: normal;
}

.cv aside ul.info {
	margin-top: 30px;
}

.cv aside ul.info a {
	color: black;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
	display: block;
	letter-spacing: -0.1em;
}

.cv aside ul.info a>i {
	background: blue;
	color: #fff;
	width: 35px;
	height: 35px;
	border-radius: 35px;
	text-align: center;
	line-height: 35px;
	margin-right: 15px;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

.cv section {
	margin-bottom: 30px;
}

.cv p {
	font-family: 'Open Sans', sans-serif;
}

.cv h1,
.cv h3,
.cv h4 {
	text-transform: uppercase;
	font-weight: bold;
}

.cv h1:nth-child(1) {
	margin-top: 0;
}

.cv h1 {
	margin: 60px 0 30px 0;
}

.cv h3 {
	font-size: 18px;
	line-height: 22px;
}

.cv h4 {
	font-size: 14px;
	line-height: 14px;
}

.cv .skills section {
	overflow: auto;
	margin-bottom: 0;
}

.cv .skills section p {
	float: left;
	max-width: 50%;
	word-break: break-word;
}

.cv .skills section span {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: transparent;
	border-radius: 15px;
	border: solid thin black;
	float: right;
	margin: 0 1px;
}

.cv .skills section span.full {
	background: blue;
}

.arrow span {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: transparent;
	border-radius: 15px;
	border: solid thin black;
	margin: 0 -1px;
}

.arrow span.full {
	background: blue;
}